.title {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(147, 147, 147);
}

.form {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 80vh;
  text-align: center;
  margin-top: 10px;
}

#food-name {
  top: 0;
  color: black;
  font-size: x-large;
  margin-bottom: 50px;
}

#food-img {
}

#ingredients {
  margin-top: 30px;
  color: black;
  padding-bottom: 20px;
}

.red {
  color: red;
}
